#content {
  margin-top: 50px; }

form.well,
.shift-up {
  margin-top: -19px; }

.span6 > .well {
  margin-top: -19px; }

.ds-margin-top, h2 {
  margin-top: 50px; }

.popovers .popover {
  display: block;
  float: left;
  margin: 20px;
  position: relative;
  width: 260px;
}
